body {
    margin: 0;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #093676;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

img{
    width: 100%;
}
.grid-container {
    display: grid; 
    grid-template-areas: 
        "bienvenida bienvenida"
        "presentacion menu";
    grid-gap: 1.5rem;
}

.bienvenida {
    grid-area: bienvenida;
    background-color: #e3f2fd;
    padding: 1rem;
    border-radius: 8px;
}
.informacion{
  padding: 10px;
  margin-bottom: 15px;
}
.presentacion {
    grid-area: presentacion;
    background-color: #54b4e8;
    padding: 1rem;
    border-radius: 8px;
}

.menu {
    grid-area: menu;
    background-color: #759ac7;
    padding: 1rem;
    border-radius: 8px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
}

.menu a {
    text-decoration: none;
    color: #144e8c;
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid #5929b4;
    border-radius: 4px;
    transition: background 0.3s;
}

.menu a:hover {
    background-color: #4a148c;
    color: white;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "bienvenida"
            "presentacion"
            "menu";
        grid-template-columns: 1fr;
    }

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 1rem;
    }
}
